.DS_Store
#SIT323 - Cloud Application Development - 1082018 - week*
zip backup
.vs
*.log
*.CopyComplete
*.cache
Old Program and Old Files/log.txt
Old Program and Old Files/Old Program/CrozzleApplication/bin
Old Program and Old Files/Old Program/CrozzleApplication/obj

Old Program and Old Files - Original/Old Program/CrozzleApplication/bin
Old Program and Old Files - Original/Old Program/CrozzleApplication/obj

*.exe

*.pdb
